#bd {
    background-color: silver;
    margin-top: 20px;
}

.logo {
    width: 100%;
    height:90%;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}

.logoContent {
    font-size:2vw;
    color: #008B8B;
    font-family: 'Gothic A1', sans-serif;
}

.header {
    width: 100%;
    height: 65%;
    background-color: white;
    
}

.header-content {
    font-size: 0.9vw;    
    width: 100%;
    color: gray;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 9px;
    margin-left: 7px;
}


.social-links li{
    list-style: none;
    float: right;
    font-size: 1vw;   
    position: relative;
    left: 0;
    top: 10px;
}

.icon-list{
    margin-right: 3%;
}


.fa {
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}


.fa-rss {
    background: #ff6600;
    color: white;
}

.sb {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    background-color: white;
}


.side-1 {
    position: relative;
    top: 2px;
}


.side-1 a,
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    font-size:1.4vw;
    color: gray;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}


.side-1 a:hover,
.dropdown-btn:hover {
    color: #008B8B;
    text-decoration: none;
}


.active {
    background-color: #2E8B57;
    color: white;
}

.dropdown-container {
    background-color: #FFF5EE;
    padding-left: 15px;
    display: none;
}


#side-2-title {
    font-size: 1.5vw;
    color: #008B8B;
    position: relative;
    left: 10px;
    top: 5px;
}

.s2-img{
    width: 100%;
    height: auto;
    border-radius: 15%;
    margin: 5%;
}

.side-2-content-title {
    width: 100%;
    height: auto;
    font-size: 1.2vw;
    color: #008B8B;
    position: relative;
    left: -5%;
    top: 5px;
}

.side-2-content-title:hover {
    text-decoration: none;
    color: #008B8B;
}

.side-2-content-text{
    width: 95%;
    height: auto;
    color: gray;
    font-size: 1vw;
    position: relative;
    left: -10%;
    top: 5px;
}

.mc {
    width: 100%;
    height: auto;
    margin-top: 10px;
    position: relative;
    top: -20%;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    padding-right: 25px;
    box-sizing: border-box;
}

.slider-content{
    margin-bottom: 12%;
}

.slider-mc{
    display: none;
}

.slider-mc img {
    width: 100%;
    height: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
}

.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: white;
}


.fade1 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}


.mc2-title{
    font-size: 1vw;
    font-family: 'Gothic A1', sans-serif;
    color: #008B8B;
}

.cz{
    width: 100%;
}

.prev2, .next2 {
    cursor: pointer;
    position: relative;
    top: -15%;
    width: 100%;;
    padding: 5%;
    font-size:1.5vw;
}

.next2 {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

.prev2:hover, .next2:hover {
    background-color: #008B8B;
}

.grp-container{
     position: relative;
    left: -3%;
}


.grp-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.grp-list li{
    float: left;
    list-style: none;    
}

.grp-title:hover{
    text-decoration: none;
}

.grp-title{
    font-size: 2vw;
    width: 100%;    
}

.grp-content{
    font-size: 1.5vw;
    width: 100%;
}

.zoom:hover {
    transform: scale(1.5);
}

.footer {
    width: 100%;
    height: auto;
    background-color: white;
    text-align: center;
    font-size: 1.5vw;
    position: relative;
    top: -100%;
}

.footer-content{
    padding: 10px;    
}










